[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=tModLoader
GenericName=tModLoader
Comment=tModLoader
Icon=/usr/share/pixmaps/tmodloader.png
Exec="/opt/gog/terraria/game/tModLoader/start.sh"
Categories=Game;
Path=/opt/gog/terraria/game/tModLoader

