[Unit]
Description=USB gadget initialization for %i
After=network-online.target
Wants=network-online.target
After=systemd-modules-load.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/usb-gadget.sh %i
ExecStop=/usr/bin/usb-gadget-clean.sh 

[Install]
WantedBy=sysinit.target
