*.log
*.zst
src
pkg
*.sig
archoream/wayfire-git/wayfire
*.bz2
*.gz
*.xz
*.zip
*.tgz
archoream/*/*/*
archoreamarm/*/*/*
archoreamarm/*/linux/
games/re3-git/*/*
*.bundle
*.ttf
*.ttc
*.appimage
*.AppImage
*.iso
*.run
*.deb
