[Desktop Entry]
Type=Application
Name=Antigravity
GenericName=Code Editor
Comment=Agentic development platform
Exec=/usr/bin/antigravity %F
TryExec=/usr/bin/antigravity
Icon=antigravity
Terminal=false
Categories=Development;IDE;TextEditor;
Keywords=vscode;ide;editor;
StartupNotify=true
StartupWMClass=Antigravity
MimeType=application/x-antigravity-workspace;
Actions=new-empty-window;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/usr/bin/antigravity --new-window %F
Icon=antigravity
