[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Enter The Gungeon
GenericName=Enter The Gungeon
Comment=Enter The Gungeon
Icon=/opt/gog/enter-the-gungeon/support/icon.png
Exec="/opt/gog/enter-the-gungeon/start.sh" ""
Categories=Game;
Path=/opt/gog/genter-the-gungeon/

